*{
    /* Todos los elementos tengan un borde de un 1px y sean rojos */
    border: 1px solid red;
}
h1{
    color: peru;
    width: 50%;
    border: 1px solid blue;
    height: 20%;
}
h2{
    /* HEXADECIMAL Trabaja en pares */
    /* #RR GG BB */
    /* color: #405dfc; */
    color: #555;
}
h3{
    /* RGB, 0 a 255 cada color */
    color: rgb(52, 37, 152);
}
p{
    /* hue, saturation, lightness */
    /* Matriz, saturacion e iluminacion */
    /* grados, porcentaje y porcentaje */
    background-color: hsl(300,50%,70%);
}

/* Medidas */

/* Fijos */
header{
    width: 500px;
    height:200px;
}