h1, article{
    text-decoration: underline;
}
article p{
    background-color:aquamarine;
}

ol > li {
    color: rebeccapurple;
}

article > p{
    color: red;
}

#caja > span{
    background-color:yellow
}

/* pseudoclase */
/* nth-of-type( numero o indicador) */
/* Elementos par odd y impar even */
tr:nth-of-type(odd){
    background-color:chocolate;
}
tr:nth-of-type(even){
    background-color:greenyellow;
}